@CHARSET "UTF-8";

body {
	height: 100%; 
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-size-adjust: none;
}
.hidden {
	display: none;
	visibility: hidden;
	height: 1px;
}

/* leftPanel */
#leftPanel {
	float: left;
	left: 0px; 
	top: 0px;
	width: 200px;
	padding: 4px;
	border: 1px solid blue;
	overflow: hidden;
}
#leftPanel #titleBar {
	height: 1.4em;
	padding: 2px;
	border: 1px solid green;
	font-weight: bold;
}
#leftPanel #folderList {
	height: 460px;
	padding: 4px;
	margin: 0px;
	margin-top: 4px;
	border: 1px solid orange;
	list-style-type: none;
}

/* rightContainer */
#rightContainer {
 	float:left;
 	margin-left: 2px;
}

/* rightPanel */
#rightPanel {
	height: auto;
	width: 600px;
	padding: 4px;
	border: 1px solid blue;
}
#rightPanel #folderName {
	height: 1.4em;
	padding: 2px;
	border: 1px solid green;
	font-weight: bold;
}
#rightPanel #fileList {
	height: 460px;
	overflow: auto;
	padding: 4px;
	margin: 0px;
	margin-top: 4px;
	border: 1px solid orange;
	list-style-type: none;
}

/* optionsPanel */
 #optionsPanel {
/*	height: auto;*/
	width: 600px;
	margin-top: 4px;
	padding: 4px;
	border: 1px solid blue;
}
#optionsMenu {
	height: 1.4em;
	padding: 2px;
	border: 1px solid orange;
}
#optionsMenu ul, #optionsMenu li {
	display: inline;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
#optionsMenu li {
	padding-right: 4px;
}

/* uploadForm - the form responsible for upload */
#uploadForm, #detailsForm {
	display: none;
	margin-top: 4px;
	padding: 4px;
	border: 1px solid #ccc;
}
#uploadForm #uploadMsg {
	border: 1px solid #ccc;
	padding: 2px;
	margin-top: 2px;
	display: none;
}

/* detailsForm - the form where the user can edit the details */
#detailsForm table td {
	vertical-align: top;
	padding-right: 4px;
}
#detailsForm #fileNameNew, #detailsForm #fileDescription {
	width: 260px;
}
#detailsForm #fileDescription {
	height: 3em;
}

/* leftPanel - folder list */
#folderList li {
	z-index: -1;
	height: 24px;
	list-style-type: none;
	padding-left: 26px;
	padding-top: 3px;
	cursor: pointer;
}
#folderList .trash {
	background: url("../img/trash.png") left center no-repeat;
}
#folderList .trash-full {
	background: url("../img/trash-full.png") left center no-repeat;
}
#folderList .folder {
	background: url("../img/folder.png") left center no-repeat;
}
#folderList .folder:hover {
	background: url("../img/folder-hover.png") left center no-repeat;
}
#folderList .folder-open {
	background: url("../img/folder-open.png") left center no-repeat;
}
