@CHARSET "UTF-8";
/*
 * TODO:
 * - sa testez selctorul :hover pt. folderList
 */

body {
	height: 100%; 
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-size-adjust: none;
}

/*
 * leftPanel
 */

/* Trebuie sa aiba o dimensiune mai mica decat cea mai mare coloana nefloat */
#leftPanel {
	float: left;
	left: 0px; 
	top: 0px;
	width: 200px;
	padding: 4px;
	border: 1px solid blue;
	overflow: hidden;
}

#leftPanel #titleBar {
	height: 1.4em;
	padding: 2px;
	border: 1px solid green;
	font-weight: bold;
}

#leftPanel #folderList {
	height: 460px;
	padding: 4px;
	margin: 0px;
	margin-top: 4px;
	border: 1px solid orange;
	list-style-type: none;
}

/*
 * rightContainer
 */
 
 #rightContainer {
 	float:left;
 	margin-left: 2px;
 }

/*
 * rightPanel
 */

#rightPanel {
	height: auto;
	width: 600px;
	padding: 4px;
	border: 1px solid blue;
}

#rightPanel #folderName {
	height: 1.4em;
	padding: 2px;
	border: 1px solid green;
	font-weight: bold;
}

#rightPanel #fileList {
	height: 460px;
	overflow: auto;
	padding: 4px;
	margin: 0px;
	margin-top: 4px;
	border: 1px solid orange;
	list-style-type: none;
}

/*
 * optionsPanel
 */
 
#optionsPanel {
	height: auto;
	width: 600px;
	margin-top: 4px;
	padding: 4px;
	border: 1px solid blue;
}

#optionsMenu {
	height: 1.4em;
	padding: 2px;
	border: 1px solid orange;
}

#optionsMenu ul, #optionsMenu li {
	display: inline;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#uploadForm, #detailsForm {
	display: none;
	margin-top: 4px;
	border: 1px solid #ccc;
}

/*
 * leftPanel - lista de directoare
 */

#folderList li {
	z-index: -1;
	height: 24px;
	list-style-type: none;
	padding-left: 26px;
	padding-top: 3px;
	cursor: pointer;
}

#folderList .trash {
	background: url("../img/trash.png") left center no-repeat;
}

#folderList .trash-full {
	background: url("../img/trash-full.png") left center no-repeat;
}

#folderList .folder {
	background: url("../img/folder.png") left center no-repeat;
}

#folderList .folder-hover {
	background: url("../img/folder-hover.png") left center no-repeat;
}
#folderList .folder-open {
	background: url("../img/folder-open.png") left center no-repeat;
}
