@CHARSET "UTF-8";

#fileList .file {
	float: left;
	margin-bottom: 10px;
	margin-right: 4px;
	cursor: pointer;
	overflow: hidden;
}

#fileList .offset {
	margin-top: 10px;
	margin-left: -10px;
}

#fileList .file .thumb {
	width: 160px;
	height: 120px;
	border: 1px solid black;
	background: #fff;
	overflow: hidden;
}

#fileList .file .name {
	width: 160px;
	height: 1.4em;
/*	border: 1px solid #ccc;*/
	margin-top: 4px;
	background-color: #ffffff;
	color: #000000;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
}
#fileList .file .normal {
	border: 1px solid #000;
}

#fileList .file .selected {
	border: 1px solid red;
}