@CHARSET "UTF-8";

#fileList .file {
	float: left;
/*	width: 160px;*/
/*	height: 160px;*/
	margin-bottom: 4px;
	margin-right: 4px;
	cursor: pointer;
	overflow: hidden;
}

#fileList .file .thumb {
	width: 160px;
	height: 120px;
	border: 1px solid black;
	background: #fff;
	overflow: hidden;
}

#fileList .file .name {
	width: 160px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	background-color: #eee;
	text-align: center;
	overflow: hidden;
}

#fileList .file .name:hover {
	background-color: #ffffcc;
}

#fileList .file .normal {
	border: 1px solid #000;
}

#fileList .file .selected {
	border: 1px solid red;
}