@CHARSET "UTF-8";

/* fix for IE */
#upload_form {
	padding: 0px;
	margin: 0px;
}

.multiupload{
	width: auto;
	padding: 0px;
}
.multiupload .file{
	float: left;
}
.multiupload .submit{
	float: right;
}
.multiupload .list{
/*	margin-top: 34px;*/
	border: 1px solid #ccc;
	clear: both;
}
.multiupload .list .ext{
	margin: 1px;
	float: left;
	margin-top: 4px;
}
.multiupload .list .delete{
	margin: 1px;
	float: right;
	margin-top: 4px;
	cursor:pointer;
}
.multiupload .list .item{
	margin:1px;
/*	background: #eee;*/
}
.multiupload .list .item:hover{
	background: #ccc;
}