@CHARSET "UTF-8";

/* fix for IE */
#upload_form {
	padding: 0px;
	margin: 0px;
}
.multiupload{
	width: auto;
	padding: 0px;
}
.multiupload .file{
	float: left;
}
.multiupload .submit{
	float: right;
}
.multiupload ul{
	border: 1px solid #ccc;
	clear: both;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.multiupload ul li{
	height: 18px;
	margin: 1px;
	padding-left: 20px;
}
.multiupload ul li.image{
	background: url("../img/tango-image.png") left center no-repeat;
}
.multiupload ul li.text{
	background: url("../img/tango-text.png") left center no-repeat;
}
.multiupload ul li.video{
	background: url("../img/tango-video.png") left center no-repeat;
}
.multiupload ul li:hover{
	background-color: #ccc;
}
.multiupload ul li .delete{
	margin: 1px;
	float: right;
	cursor: pointer;
}