@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #666666;
	color: #555555;
	font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
}

#header {
	background: #000000 none repeat scroll 0 0;
	height: 90px;
}

.wrapper {
	width: 900px;
	margin: auto;
	clear: both;
}

#header #logo {
	height: 90px;
	width: 144px;
	background: transparent url(../img/d2u_small.png) no-repeat scroll left center;
	display: block;
	float: left;
	text-indent: -9999px;
	
}

#spacer {
	height: 56px;
	width: 400px;
	float: right;
}

#header ul {
	margin: 0;
	margin-left: 20px;
	float: left;
	list-style: none;
	min-width: 500px;
}

#header ul li {
	float: left;
}

#header ul li a {
	padding: 0 10px;
	display: block;
	font-size: 14px;
	font-weight: normal;
	line-height: 34px;
	color: #999;
	text-shadow: #333 1px 1px 1px;
	text-decoration: none;
}

#header ul li a:hover {
	color: #fff;
}

#header ul li a.current {
	color: #555;
	background: white;
	-moz-border-radius-topleft: 3px;
	-khtml-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-khtml-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	text-shadow: #c6d9e9 1px 1px 1px;
	text-decoration: none;
}

/* content - contains the fileList */
#content {
	background: #ffffff;
}
#fileList {
	height: 450px;
	overflow: auto;
	padding: 4px;
	margin: 0px;
	list-style-type: none;
}

/* optionsPanel */
#optionsPanel {
	width: 100%;
	height: 100%;
	margin-top: 4px;
	padding: 4px;
	color: #fff;
	font-size: 12px;
}

/* optionsMenu - the menu for uploadForm and detailsForm */
#optionsMenu {
	height: 30px;
/*	background: #C6D9E9;*/
	background: #ccc;
}
#optionsMenu ul {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}
#optionsMenu ul li {
	float: left;
	padding-right: 4px;
}
#optionsMenu ul li a {
	display: block;
	padding: 0 10px;
	margin: 0;
	line-height: 30px;
	text-shadow: #c6d9e9 1px 1px 1px;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	color: #555;
}
#optionsMenu ul li a.current {
	color: #fff;
	background: #666;
	-moz-border-radius-topleft: 3px;
	-khtml-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-khtml-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
#optionsMenu ul li a:hover {
	color: #fff;
}

/* uploadForm - the form responsible for upload */
#uploadForm {
	float: left;
	display: block;
	padding: 4px;
	padding-top: 10px;
}

/* detailsForm - the form where the user can edit the details */
#detailsForm {
	float: left;
	display: none;
	padding: 4px;
	padding-top: 10px;
}
#detailsForm table {
	display: block;
	left: 0px;
}
#detailsForm table td {
	vertical-align: top;
	padding-right: 4px;
}
#detailsForm #fileNameNew, #detailsForm #fileDesc {
	width: 260px;
	border: 1px solid #cccccc;
}
#detailsForm #fileDesc {
	height: 3em;
}
#detailsForm #detailsSaveButton {
	width: 100%;
}

/* trash bin */
#trashbin {
	float: right;
	height: 96px;
	width: 96px;
	background: url(../img/gion-trash.png);
}
.trashbin:hover {
	background: url(../img/gion-trash.png);
}
.trashbin-full {
	background: url(../img/gion-trash-full.png);
}