@CHARSET "UTF-8";

body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

#application {
/*	width: 700p;*/
/*	height: 100%;*/
	margin: auto; /* alineaza orizontal pe centru */
	padding: 5px;
	border: 1px solid black;
}

/* Trebuie sa aiba o dimensiune mai mica decat cea mai mare coloana nefloat */
#leftPanel {
	float: left;
	width: 200px;
	border: 1px solid red;
}

#rightPanel {
	height: auto;
	margin-left: 210px;
	border: 1px solid blue;
	padding: 0;
}

#titleBar {
	border: 1px solid green;
}

/* Trebuie sa aiba o inaltime fixa, pentru a forta inaltimea #rightPanel */
#fileList {
	height: 200px;
	border: 1px solid orange;
}

#optionsMenu {
	height: 1em;
	border: 1px solid orange;
}

#optionsMenu ul, #optionsMenu li {
	display: inline;
	margin: 0;
	padding: 0;
}

#statusBar {
	height: 1em;
	border: 1px solid orange;
}