@CHARSET "UTF-8";

body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

#application {
	margin: auto; /* alineaza orizontal pe centru */
	padding: 5px;
	border: 1px solid black;
}

/*
 * leftPanel
 */

/* Trebuie sa aiba o dimensiune mai mica decat cea mai mare coloana nefloat */
#leftPanel {
	float: left;
	width: 200px;
	padding: 4px;
	border: 1px solid blue;
	overflow: hidden;
}

#leftPanel div {
	padding: 0.2em;
	margin-top: 0.2em;
}

#titleBarLeft {
	height: 1.4em;
	border: 1px solid green;
	font-weight: bold;
}

#folderList {
	height: 460px;
	border: 1px solid orange;
}

/*
 * rightPanel
 */

#rightPanel {
	height: auto;
	margin-left: 215px;
	padding: 4px;
	border: 1px solid blue;
}

#rightPanel div {
	padding: 0.2em;
	margin-top: 0.2em;
}

#titleBarRight {
	height: 1.4em;
	border: 1px solid green;
	font-weight: bold;
}

/* Trebuie sa aiba o inaltime fixa, pentru a forta inaltimea #rightPanel */
#fileList {
	height: 400px;
	border: 1px solid orange;
}

#optionsMenu {
	height: 1.4em;
	padding: 0.2em;
	border: 1px solid orange;
}

#optionsMenu ul, #optionsMenu li {
	display: inline;
	margin: 0;
	padding: 0;
	cursor: hand;
}

#uploadForm, #detailsForm {
	display: none;
	height: 1.4em;
	border: 1px solid red;
}

#statusBar {
	height: 1.4em;
	border: 1px solid green;
}