@CHARSET "UTF-8";

body {
	height: 100%; 
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-size-adjust: none;
}

/*
 * leftPanel
 */

/* Trebuie sa aiba o dimensiune mai mica decat cea mai mare coloana nefloat */
#leftPanel {
	position: absolute;
	left: 0px; 
	top: 0px;
	width: 200px;
	padding: 4px;
	border: 1px solid blue;
	overflow: hidden;
}

#leftPanel div {
	padding: 0.2em;
	margin-top: 0.2em;
}

#leftPanel #titleBar {
	height: 1.4em;
	border: 1px solid green;
	font-weight: bold;
}

#leftPanel #folderList {
	height: 460px;
	border: 1px solid orange;
}

/*
 * rightPanel
 */

#rightPanel {
	height: auto;
	width: 600px;
	margin-left: 214px;
	padding: 4px;
	border: 1px solid blue;
}

#rightPanel div {
	padding: 0.2em;
	margin-top: 0.2em;
}

#rightPanel #titleBar {
	height: 1.4em;
	border: 1px solid green;
	font-weight: bold;
}

#rightPanel #fileList {
	height: 460px;
	border: 1px solid orange;
	font-weight: bold;
}

/*
 * optionsPanel
 */
 
#optionsPanel {
	height: auto;
	width: 600px;
	margin-left: 214px;
	margin-top: 4px;
	padding: 4px;
	border: 1px solid blue;
}

#optionsMenu {
	height: 1.4em;
	padding: 0.2em;
	border: 1px solid orange;
}

#optionsMenu ul, #optionsMenu li {
	display: inline;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#uploadForm, #detailsForm {
	display: none;
	height: 1.4em;
	margin-top: 4px;
	border: 1px solid red;
}

/*
 * leftPanel - lista de directoare
 */

#rootList {
	padding: 0px;
	margin: 0px;
}
#rootList li {
	height: 24px;
	list-style-type: none;
	padding-left: 26px;
	padding-top: 3px;
	cursor: pointer;
}

#rootList .trash {
	background: white url("../img/trash.png") left center no-repeat;
}

#rootList .folder {
	background: white url("../img/folder.png") left center no-repeat;
}

#rootList .folder-hover {
	background: white url("../img/folder-hover.png") left center no-repeat;
}
