@CHARSET "UTF-8";

.inputfiles {
	width: 350px;
	position: absolute;
	text-align: right;
}

.fakefile {
	width: 350px;
	position: absolute;
	text-align: right;
	z-index: 1;
}

.realfile {
	opacity: 0;
	position: relative;
	x-index: 2;
	text-align: right;
}

.multiupload{
	width: 300px;
	border:1px outset gray;
	float:left;
	padding:3px;
	background:#eee;
}
.multiupload div.list{
	border:1px inset gray;
	background: #fff;
}
.multiupload .list .ext{
	margin: 1px;
	float: left;
}
.multiupload .list .delete{
	margin: 1px;
	float: right;
}
.multiupload .list .item{
	margin:1px;
	background: #eee;
}
.multiupload .list .item:hover{
	background: #ccc;
}
