@CHARSET "UTF-8";

.multiupload{
	width: 400px;
	border: 1px outset gray;
	float: left;
	padding: 4px;
	background: #eee;
}
.multiupload .file{
	float: left;
}
.multiupload .submit{
	float: right;
}
.multiupload .list{
	margin-top: 28px;
	border:1px solid #ccc;
	background: #fff;
	clear:both;
}
.multiupload .list .ext{
	margin: 1px;
	float: left;
	margin-top: 4px;
}
.multiupload .list .delete{
	margin: 1px;
	float: right;
	margin-top: 4px;
	cursor:pointer;
}
.multiupload .list .item{
	margin:1px;
	background: #eee;
}
.multiupload .list .item:hover{
	background: #ccc;
}

.hidden {
	display: none;
}