@CHARSET "UTF-8";
.slideshow {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.slide {
	position: relative;
	float: left;
	width: 172px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.slide div.thumb {
	background: #fff;
	width: 170px;
	height: 120px;
	border: 1px solid #000;
	font-size: 16px;
	font-family: "Times New Roman", serif;
	overflow: hidden;
}

.slide .view {
	padding: 2px 2px;
	margin: 2px 0px;
	cursor: text;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	background-color: #eee;
	height: 1em;
	text-align: center;
}

.view:hover {
	background-color: #ffffcc;
}

.inplace {
	position: absolute;
	visibility: hidden;
	z-index: 10000;
}

.handle {
	cursor: move;
}